- provide(:title, 'Edit item')
%h1.text-center 
  Edit item
.row
  .col-md-8.col-md-offset-2
    = link_to 'Back', businesses_path, class: 'btn btn-success pull-left'
    .box-content
      = render 'form'
